/* .locked {
    background-image: url(../../public/Image/lock.png);
    width: 1330px;
    height: 580px;
    margin-left: 9px;
} */

.loktex {
    text-align: center !important;
    color: white;
}

#asAa {
    border: 2px solid black;
    background-color: black;
    color: rgb(255, 15, 255);
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 10px;
    width: 170px;
    font-size: 17px;
}

#asAa:hover {
    background-color: brown;
    color: white;
}